<div class="container">

    <div class="row">
        <div class="col-6">
            <form action="/signin" method="POST" class="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" name="search" placeholder="Search" autofocus>
            </form>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success">Agregar Persona</button>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">cedula</th>
                        <th scope="col">fullname</th>
                        <th scope="col">blood_type</th>
                        <th scope="col">department</th>
                        <th scope="col">position</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each data}}

                    <tr>
                        <td>{{dataValues.cedula}}</td>
                        <td>{{Capitalize dataValues.first_name}} {{Capitalize dataValues.last_name}}</td>
                        <td>{{dataValues.staff.dataValues.blood_type}}</td>
                        <td>{{Capitalize dataValues.department.dataValues.description}}</td>
                        <td>{{Capitalize dataValues.position.dataValues.description}}</td>
                    </tr>

                    {{else}}
                    <tr>
                        <td>usted no cuenta con personal.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>



{{!-- 

<div class="row">
    <div class="col-md-12 mx-auto">
        <button type="button" class="btn btn-success">Agregar Persona</button>
    </div>
</div> --}}



{{!-- <div class="table-responsive">
    <table class="table table-hover table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cedula</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Departamento</th>
                <th scope="col">Cargo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div> --}}