<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">

                    <div class="card-header">
                        <form action="/carnet/staff/view" method="POST" class="has-search" id="formSearch">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input autofocus type="text" class="form-control" name="cedula" id="searchCedula"
                                placeholder="Search by Cedula" maxlength="8" autocomplete="off">
                        </form>
                    </div>

                    <div class="card-body">

                        <form action="/carnet/staff/new-carnet" method="POST" id="form" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="cedula">Cedula</label>
                                <input required value="{{data.dataValues.cedula}}" type="text" class="form-control"
                                    name="cedula" id="cedula" maxlength="8" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input required {{#if data.dataValues.first_name}}
                                    value="{{capitalize data.dataValues.first_name}}" {{/if}} type="text"
                                    class="form-control" name="firstname" id="firstname" maxlength="50"
                                    autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input required {{#if data.dataValues.last_name}}
                                    value="{{capitalize data.dataValues.last_name}}" {{/if}} type="text"
                                    class="form-control" name="lastname" id="lastname" maxlength="50"
                                    autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="department">Department</label>
                                <input required {{#if data.department.dataValues.description}}
                                    value="{{capitalize data.department.dataValues.description}}" {{/if}} type="text"
                                    class="form-control" name="department" id="department" maxlength="50"
                                    autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label for="position">Position</label>

                                <input required {{#if data.position.dataValues.description}}
                                    value="{{capitalize data.position.dataValues.description}}" {{/if}} type="text"
                                    class="form-control" name="position" id="position" maxlength="50"
                                    autocomplete="off">

                            </div>

                            <div class="form-group">
                                <label for="date_of_expiration">Date of Expiration</label>
                                <input required type="month" class="form-control" name="date_of_expiration"
                                    id="date_of_expiration" maxlength="10" autocomplete="off"
                                    value="{{date_of_expiration}}">
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="photo" id="photo">
                                    <label class="custom-file-label" for="photo">Upload photo</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <select class="custom-select" name="blood_type" id="blood_type">
                                    {{#if data.staff.dataValues.blood_type}}
                                    <option selected value="{{data.staff.dataValues.first_name}}">
                                        {{data.staff.dataValues.blood_type}}</option>
                                    {{else}}
                                    <option disabled selected>Blood Type</option>
                                    <option value="O RH+">O RH+</option>
                                    <option value="O Rh-">O RH-</option>
                                    <option value="A RH+">A RH+</option>
                                    <option value="A RH-">A RH-</option>
                                    <option value="B RH+">B RH+</option>
                                    <option value="B RH-">B RH-</option>
                                    <option value="AB RH+">AB RH+</option>
                                    <option value="AB RH-">AB RH-</option>
                                    {{/if}}
                                </select>
                            </div>


                            <button class="btn btn-success btn-block">
                                Print
                            </button>
                        </form>



                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->


            <div class="col-lg-6">
                <div class="card">

                    <div class="card-body">

                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-md-6 -->


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->