<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6">
                <div class="card">

                    <div class="card-header">
                        <form action="/carnet/staff/search" method="POST" class="has-search" id="form">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input autofocus type="text" class="form-control" name="cedula" id="cedula"
                                placeholder="Search staff by cedula" maxlength="8" autocomplete="off"
                                value="{{cedula}}">
                        </form>
                    </div>

                    <div class="card-body">

                        <form action="/carnet/staff/new-carnet" method="POST" id="form" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="cedula">Cedula</label>
                                <input required type="text" class="form-control" name="cedula" id="cedula" maxlength="8"
                                    autocomplete="off" value="{{cedula}}">
                            </div>

                            <div class="form-group">
                                <label for="firstname">Firstname</label>
                                <input required type="text" class="form-control" name="firstname" id="firstname"
                                    maxlength="50" autocomplete="off" value="{{firstname}}">
                            </div>

                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input required type="text" class="form-control" name="lastname" id="lastname"
                                    maxlength="50" autocomplete="off" value="{{lastname}}">
                            </div>

                            <div class="form-group">
                                <label for="department">Department</label>
                                <input required type="text" class="form-control" name="department" id="department"
                                    maxlength="50" autocomplete="off" value="{{department}}">
                            </div>

                            <div class="form-group">
                                <label for="position">Position</label>
                                <input required type="text" class="form-control" name="position" id="position"
                                    maxlength="50" autocomplete="off" value="{{position}}">
                            </div>

                            <div class="form-group">
                                <label for="expiration">Date of Expiration</label>
                                <input required type="month" class="form-control" name="expiration" id="expiration"
                                    maxlength="10" autocomplete="off" value="{{date_of_expiration}}">
                            </div>

                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo">
                                    <label class="custom-file-label" for="photo">Upload photo</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <select class="custom-select" name="blood_type" id="blood_type">
                                    {{#if bloodtype}}
                                    <option disabled selected value="{{bloodtype}}">{{bloodtype}}</option>
                                    {{else}}
                                    <option disabled selected>Blood Type</option>
                                    <option value="O RH+">O RH+</option>
                                    <option value="O Rh-">O RH-</option>
                                    <option value="A RH+">A RH+</option>
                                    <option value="A RH-">A RH-</option>
                                    <option value="B RH+">B RH+</option>
                                    <option value="B RH-">B RH-</option>
                                    <option value="AB RH+">AB RH+</option>
                                    <option value="AB RH-">AB RH-</option>
                                    {{/if}}
                                </select>
                            </div>


                            <button class="btn btn-success btn-block">
                                Print
                            </button>
                        </form>



                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-6 -->


            <div class="col-lg-6">
                <div class="card">

                    <div class="card-body">

                    </div>
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col-md-6 -->


        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->