<div class="container">

    <div class="row justify-content-around row-carnet">

        <div id="col-form"
            class="col-xl-4 col-lg-5 col-md-6 col-sm-8 px-0 justify-content-center align-self-center hide-print col-form">
            <div class="card">

                <div class="card-header">
                    <form action="/carnet/staff" method="POST" class="has-search" id="formSearch">
                        <span class="fa fa-search form-control-feedback fa-w-16"></span>
                        <input autofocus type="text" class="form-control" name="cedula" id="cedula"
                            placeholder="Buscar por cedula" maxlength="8" autocomplete="off">
                    </form>
                </div><!-- /.card-header -->

                <div class="card-body">
                    <form action="/carnet/uploadPhoto" method="POST" id="form" enctype="multipart/form-data">

                        <div class="form-group">
                            <input required {{#if cedula}} value="{{cedula}}" {{/if}} type="text" class="form-control"
                                name="cedula" id="form__cedula" maxlength="8" autocomplete="off" placeholder="Cedula">
                        </div>

                        <div class="form-group">
                            <input required {{#if firstname}} value="{{capitalize firstname}}" {{/if}} type="text"
                                class="form-control" name="firstname" id="form__firstname" maxlength="25"
                                autocomplete="off" placeholder="Nombres">
                        </div>

                        <div class="form-group">
                            <input required {{#if lastname}} value="{{capitalize lastname}}" {{/if}} type="text"
                                class="form-control" name="lastname" id="form__lastname" maxlength="25"
                                autocomplete="off" placeholder="Apellidos">
                        </div>

                        <div class="form-group">
                            <input required {{#if department}} value="{{capitalize department}}" {{/if}} type="text"
                                class="form-control" name="department" id="form__department" maxlength="50"
                                autocomplete="off" placeholder="Departamento">
                        </div>

                        <div class="form-group">
                            <input required {{#if position}} value="{{capitalize position}}" {{/if}} type="text"
                                class="form-control" name="position" id="form__position" maxlength="50"
                                autocomplete="off" placeholder="Cargo">
                        </div>

                        <div class="form-group">
                            <label for="form__expiration">Fecha de vencimiento</label>
                            <input required {{#if expiration}} value="{{expiration}}" {{/if}} type="month"
                                class="form-control" name="expiration" id="form__expiration" maxlength="10"
                                autocomplete="off">
                        </div>

                        <div class="form-group">
                            <select required class="custom-select" name="blood" id="form__blood">
                                {{#if blood}}
                                <option disabled>Grupo Sanguíneo Actual</option>
                                <option selected value="{{blood}}"> {{blood}}</option>
                                <option disabled>Cambiar Grupo Sanguíneo</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                {{else}}
                                <option disabled selected>Grupo Sanguíneo</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                {{/if}}
                            </select>
                        </div>

                        <div class="form-group">
                            <select required class="custom-select" name="template_front" id="form__front">
                                {{#if templates_front}}
                                <option disabled selected>Frente del Carnet</option>
                                {{#each templates_front}}
                                <option value="{{dataValues.path}}">{{dataValues.title}}</option>
                                {{/each}}
                                {{else}}
                                <option disabled selected>Frente del Carnet</option>
                                <option disabled>No Disponible</option>
                                {{/if}}
                            </select>
                        </div>

                        <div class="form-group">
                            <select required class="custom-select" name="template_back" id="form__back">
                                {{#if templates_back}}
                                <option disabled selected>Dorso del Carnet</option>
                                {{#each templates_back}}
                                <option value="{{dataValues.path}}">{{dataValues.title}}</option>
                                {{/each}}
                                {{else}}
                                <option disabled selected>Dorso del Carnet</option>
                                <option disabled>No Disponible</option>
                                {{/if}}
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="custom-file">
                                <input required type="file" class="custom-file-input" name="photo" id="form__photo">
                                <label class="custom-file-label" id="file__label" for="form__photo">Seleccionar
                                    Archivo</label>
                            </div>
                        </div>

                        <button id="btn-form" class="btn btn-success btn-block">
                            Visualizar Carnet
                        </button>

                    </form> <!-- /.form -->

                    <button id="btn-modal" class="btn btn-success btn-block" data-toggle="modal"
                        data-target="#confirmPrint" onclick="imprimir()"><i class="fas fa-print mr-2"></i> Imprimir
                    </button>

                </div> <!-- /.card-body -->

            </div> <!-- /.card -->

        </div> <!-- /.col-md-6 -->

        {{#if photo}}
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-7 py-4 px-0 justify-content-center align-self-center col-carnet">
            <!-- Carnet -->
            <div class="carnet" id="carnet">

                <div class="front" id="front">

                    <div class="logo-carnet">
                        <img src="/img/logos/logo.png">
                    </div> <!-- /.logo-carnet -->

                    <div class="photo">
                        <img src="{{photo}}">
                    </div> <!-- /.Photo -->

                    <div class="data">
                        <div class="data__group">
                            <p class="data__fullname" id="data__fullname"></p>
                        </div>
                        <div class="data__group">
                            <p class="data__cedula" id="data__cedula"></p>
                        </div>
                        <div class="data__group">
                            <p class="data__department" id="data__department"></p>
                        </div>
                        <div class="data__group">
                            <p class="data__position" id="data__position"></p>
                        </div>
                    </div> <!-- /.Data -->

                </div> <!-- /.Front -->

                <div class="back" id="back">

                    <div class="overlay"></div>

                    <div class="sello-carnet noSelect">
                        <img src="/img/logos/sello.png">
                    </div> <!-- /.sello-carnet -->

                    <div class="government-logo noSelect">
                        <img src="/img/logos/government.png">
                    </div> <!-- /.government-logo -->

                    <div class="ciudadGuayana-logo noSelect">
                        <img src="/img/logos/ciudadGuayana.png">
                    </div> <!-- /.ciudadGuayana-logo -->

                    <div class="alcalde-logo noSelect">
                        <img src="/img/logos/alcalde.png">
                    </div> <!-- /.alcalde-logo -->

                    <div class="back-data">
                        <div class="back-data__group">
                            <p class="data__legend" id="data__legend">
                                Se le agradece a las autoridades civiles, mercantiles y militares prestar la mayor
                                colaboración posible al portador de este carnet, dentro del marco de las leyes y la
                                constitución para el desempeño de sus funciones.
                            </p>
                        </div>
                        <div class="back-data__group">
                            <p class="data__expiration" id="data__expiration"></p>
                        </div>
                        <div class="back-data__group">
                            <p class="data__blood" id="data__blood"></p>
                        </div>
                    </div> <!-- /.Data -->

                </div> <!-- /.Back -->

            </div> <!-- /.Carnet -->

        </div> <!-- /.col-md-4 -->
        {{/if}}

    </div> <!-- /.row -->

</div> <!-- /.container -->

<!-- Modal -->
<div class="modal fade" id="confirmPrint" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="confirmPrintLabel" aria-hidden="true">

    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="confirmPrintLabel">Confirmar Impresión</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿ El carnet se imprimio correctamente ?
            </div>
            <div class="modal-footer">
                <!-- Carnet Request -->
                <form action="/carnet/createCarnet" method="Post" id="formModal">
                    <input type="hidden" name="cedula" id="modal__cedula">
                    <input type="hidden" name="firstname" id="modal__firstname">
                    <input type="hidden" name="lastname" id="modal__lastname">
                    <input type="hidden" name="department" id="modal__department">
                    <input type="hidden" name="position" id="modal__position">
                    <input type="hidden" name="expiration" id="modal__expiration">
                    <input type="hidden" name="blood" id="modal__blood">

                    <button type="submit" class="btn btn-success btn-sm" id="printYes">Si</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /.modal -->